{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="page-header">Name Target Directory</h2>

		<p>
			What is the path to the directory that contains the files to analyze??
		</p>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
		
{% endblock %}